name: Run Bun Tests

# Trigger the workflow on push or pull request
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.4 # pin a known stable version

      - name: Bun info
        run: |
          bun --version
          bun env
          bun doctor

      - name: Install dependencies
        run: bun install --force

      - name: Type check
        run: bun run tsc --noEmit

      - name: Run tests
        run: bun test --ci --timeout 120000
